.review-item {
	margin-bottom: 40px;
	
}
.review-content {
	position: relative;
	width: 900px;
	
}
.col-sm-4{
	width: 100px;
}
img{
	border-radius: 10px;
	width: 250px;
	height: 200px;
	
}
.review-content h3 {

	margin-bottom: 35px;
	display: ruby-text-container;
}

.review-content p {
	margin-bottom: 10px;
}

.review-content .rating {
	position: absolute;
	right: 0;
	top: 0;
}

.review-content .rating h5 {
	text-align: right;
	font-size: 36px;
	color: #65607b;
	font-weight: 900;
	padding-right: 20px;
}

.review-content .rating h5 i {
	font-weight: 500;
	font-size: 16px;
	font-style: italic;
	color: #65607b;
	text-transform: uppercase;
	
}

.review-content .rating h5 span,p,h3 {
	color: #65607b;
}
h4{
    text-align: center;

    color: #32373c;
    margin-bottom: 15px;
    font-size: 25px;
	font-weight: 500;
}
.top-meta{
    color: #65607b;
    margin-bottom: 15px;
    font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}

.opcao p{
	border-radius: 5px;
	color: aliceblue;
	padding: 0 40px;

}

.status {
	width: 180px;
	text-align: center;
	margin-top: 20px;
	display: -webkit-inline-flex;
}
.botoes{
	display: contents;
}
