<h4 [ngStyle]="{'padding':servico.problema.length == 0 ?'200px 0 ':'30px 0 '}">Problemas ja cadastrados</h4>
<div class="review-item container-fluid" *ngFor="let item of servico.problema; let i=index">
  <tr>
    <div class="row">
      <div class="col-sm-4">
        <div class="review-pic">
          <img src="assets/image/imagens/{{item.img}}" alt="">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="review-content text-box text-white">
          <div class="rating">
            <h5><i>report: </i><span>{{item.report}}</span></h5>
          </div>
          <div class="top-meta">{{item.dataSalva}}</div>
          <h3>{{item.rua }}, {{item.bairro}}, {{item.localidade}}/{{item.uf}}</h3>
          <p>
            {{item.descricao}}.
          </p>
          <h6>Tipo do Problema: {{item.tipoProblema}}</h6>
        </div>
        <div class="opcao">
          <!-- <div class="botoes" *ngIf="servico.logado && item.rg == servico.userAux.rg"><button type="button"
              class="btn btn-outline-primary btn-sm" (click)="editar(i)" routerLink="/reportar">Edita</button>{{" "}}
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="excluir(i)">Excluir</button></div>
          {{" "}} -->
          <div class="status">
            <p
              [ngStyle]="{'background':item.estado==='Em análise'?'#FA5858':item.estado==='Em processo'?'#0080FF':'#2EFE2E'}">
              {{item.estado}}</p>
          </div>
        </div>
      </div>
    </div>
  </tr>
</div>
