#nav{
    background: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);

}
.row{
  margin-left: 2px;
  float: right;
  margin-top: 7%;
}
#nav a{
        display: block;
        font-size: 16px;
        font-weight: 500;
        padding-right: 25px;

}
#navbarSupportedContent a,#login a{
  color: #fff;
}
#logo{
    width: 20%
}
#nav li:hover>a {
	color: #D8D8D8;
}
#nav a:hover {
	color: #D8D8D8;
}
#nav li a:hover i {
	color: #D8D8D8;
}

#nav li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.modal{
  max-width: 400px;
  margin: 0 auto;
  max-height: 700px;
}

.login-form {
  max-width: 90%;
  margin: 0 auto;
}

  .login-form h2 {
      margin: 0 0 15px;
      font-size: 15px;
  }

  .btn-group button{
      font-size: 15px;
      font-weight: bold;
      border-radius: 5px;
      margin-right: 100px;
      background: transparent;
      border: transparent;
  }
#drop a{
    color: #025310;
    background: #fff;
  }
h6{
  font-size: 12px
}




