
.container-fluid{
    width: 100%;
    margin: auto;
}
img{
    height: 750px;
}
@media (max-width: 550px){
  img{
    height: 350px;
  }
  .container-fluid{
    width: 60%;
    margin: auto;
  }
}
p{
    font-size: 17px;

}
